module.exports = {
  spotify: {
    clientId : 'CLIENT_ID',
    clientSecret : 'CLIENT_SECRET',
    redirectUri : 'REDIRECT_URI'
  },
  assocs: {
    'BEACON_ID': {
      spotify: 'SPOTIFY_DEVICE_ID'
    }
  }
}
