module.exports = {
  spotify: {
    clientId : 'CLIENT_ID',
    clientSecret : 'CLIENT_SECRET',
    redirectUri : 'REDIRECT_URI'
  },
  assocs: {
    'BEACON_UUID': {
      spotify: 'SPOTIFY_DEVICE',
      proximity: 100
    }
  },
  default: 'DEFAULT_BEACON_UUID'
}
